#detail-page {
  display: flex;
  justify-content: center;

  .container {
    margin: 3vh auto;
    padding: 10px;
    align-self: center;

    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 20px;

    @media screen and (max-width: 850px) {
      column-gap: 0;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }

  .canvas-container {
    width: 500px;
    height: 500px;

    @media screen and (max-width: 850px) {
      margin: auto;
    }
  }

  .item-detail {
    width: 40vw;
    @media screen and (max-width: 850px) {
      width: 90vw;
    }
  }
}
