.card-container {
  // height: 500px;
  // width: 400px;

  height: 50vh;
  width: 450px;
  text-align: center;

  @media screen and (max-width: 450px) {
    width: 90vw;
  }
}

.canvas-container {
  height: 80%;
}

.text-container {
  &:hover {
    color: rgb(150, 150, 150);
  }
}
