.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

// header {
//   z-index: 99;
//   width: 100%;
//   padding: 30px 60px 20px;
//   transition: background-color 0.5s ease-in-out;

//   // &:hover {
//   //   background-color: rgba(255, 255, 255, 0.05);
//   // }
//   @media screen and (max-width: 800px) {
//     display: none;
//   }

//   .header-inner {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     .logo {
//       letter-spacing: 1px;
//       font-size: 1.2rem;
//     }
//     nav {
//       ul {
//         margin: 0;
//         padding: 0;
//         display: flex;
//         li {
//           list-style: none;
//           margin: 0 45px;
//           &.btn {
//             a {
//               font-weight: 600;
//               background: #23232a;
//               padding: 16px 24px;
//               border-radius: 10px;
//             }
//           }
//           p {
//             text-decoration: none;

//             cursor: pointer;
//             transition: color 0.5s;

//             &:hover {
//               color: rgb(95, 95, 95);
//             }
//           }
//           a {
//             text-decoration: none;

//             transition: color 0.5s;

//             &:hover {
//               color: rgb(95, 95, 95);
//             }
//           }
//         }
//       }
//     }
//   }
// }

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: black;
}

.nav {
  padding: 30px 60px 20px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;

  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1000px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    opacity: 0.5;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    opacity: 1;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
